.loginsignup-enter {
    opacity: 0.01;
}

.loginsignup-enter.loginsignup-enter-active {
    opacity: 1;
    position: absolute;
    transition: opacity 800ms ease-in;
}

.loginsignup-leave {
    opacity: 1;
}

.loginsignup-leave.loginsignup-leave-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
}

.header-link {
    color: white;
}

.product-decsription {
    padding: 0;
    margin: 0;
}
