.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.header-link {
    color: white;
}

.product-decsription {
    padding: 0;
    margin: 0;
}
